.connect {
    display: none;
}

/* MAIN */

h2, h3 {
    margin: 15px 0 0;
    font-weight: 600;
    font-family: 'Karla', serif;
}

h2 {
    margin: 10px auto;
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

p{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.card-deck{
    white-space:nowrap;
    width: 100%;
    overflow-x: auto;
    display: inline-flex;
    justify-content: space-between;
}
.best {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.best span {
    user-select: none;
    color: #fff;
    position: absolute;
    opacity: 100%;
    bottom: 45%;
    right: 28%;
    text-transform: uppercase;
}

.best div {
    position: relative;
    height: 15rem;
    width: 19rem;
    min-width: 19rem;
    background: none;
}

.best div:not(.ov){
    margin-right: 10px;
}

.best div:last-child{
    margin: 0;
}

.best img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ov {
    opacity: 0;
    background-color: #000000BF !important;
    top: 0;
    position: absolute !important;
    transition: ease 150ms;
}

.ov:hover{
    cursor: pointer;
    opacity: 100%;
}

iframe {
    margin-top: 150px;
}

@media screen and (max-width: 65em) {
    .best div {
        min-width: 1rem;
        width: 15rem;
        height: 12rem;
    }
    .card {
        margin: 10px auto;
    }
    .card-deck{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .best span{
        right: 24%;
    }
}

@media screen and (max-width: 35em) {
    .card-deck{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        margin-bottom: 10px;
    }
}