nav button {
    font-family: 'Gabriela', serif;
    color: #B8944F;
    font-size: 15px;
    border: none;
    background: none;
    padding: 5px 0px;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #B8944F;
    transition: 200ms ease;
    margin: auto 20px;
}

/* Main */
.title-user{
    padding: 20px;
    border-bottom: 2px solid #B8944F;
}
.info-user{
    width: 15rem;
    height: 40rem;
    padding: 15px;
    border-right:2px solid #B8944F;
}
.txt-info{
    margin: 20px 0;
}

/* Formulaire */
form{
    padding: 15px;
    position: absolute;
    top: 33%;
    left: 33%;
    font-family: 'Gabriela', serif;
}
input{
    height: 18px;
    width: 15rem;
    margin: 0.5rem;
    border: 1px solid #333;
    border-radius: 50px;
}
.form-user label{
    font-size: 13px;
    position: absolute;
    color: #333;
    transform: translateY(-50%);
    padding-top:30px ;
    padding-left: 10px;
    transition: all .3s ease-in;
}

.form-user:focus-within label,
.form-user.active-input label{
    color: #000;
    padding-bottom: 32px;
}

.button-confirm{
    cursor: pointer;
    font-family: 'Gabriela', serif;
    color: #B8944F;
    font-size: 15px;
    border: none;
    background: none;
    padding: 5px 0px;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #B8944F;
    transition: 200ms ease;
    margin: auto 20px;
}
.button-confirm:hover{
    background: #B8944F;
    color: #fff;
}