nav button{
    cursor: pointer;
    height: 2.3rem;
}

.connect {
    display: none;
}

/* Main */
.title-user{
    padding: 20px;
    border-bottom: 2px solid #B8944F;
}
.info-user{
    min-width: 16rem;
    height: 40rem;
    padding: 15px;
    border-right:2px solid #B8944F;
}
.txt-info{
    margin: 20px 0;
}

.txt-info p {
    margin: 10px auto;
}

.user-content{
    display: flex;
}

/* Formulaire */

form{
    padding: 15px;
    width: 100%;
    font-family: 'Gabriela', serif;
}
input{
    position: relative;
    height: 18px;
    width: 15rem;
    border: 1px solid #333;
    border-radius: 50px;
    padding: 1rem;
}

.form-user h2 {
    margin-bottom: 30px;
}

.form-user label{
    z-index: 1;
    font-size: 13px;
    position: absolute;
    color: #00000075;
}

.form-user button{
    cursor: pointer;
    font-family: 'Gabriela', serif;
    color: #B8944F;
    font-size: 15px;
    border: 0;
    background: none;
    padding: 5px 0px;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #B8944F;
    transition: 150ms ease;
}
.form-user button:hover{
    background: #B8944F;
    color: #fff;
}

.box-input{
    position: relative;
    margin-bottom: 20px;
}

.floating-input {
    font-size: 13px;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 16px;
    transition: all 0.1s ease;
}

input:focus ~ .floating-input,
input:not(:focus):valid ~ .floating-input {
    top: -20px;
    bottom: 0px;
    left: 0px;
    font-size: 15px;
    opacity: 1;
    color: #404040;
}