/* Connection overlay */

.connection-overlay {
    background-color: #000000BF;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.connection-overlay .box{
    background-color: #FFF;
    transform: translateY(-150%);
    transition-duration: 1s;
    transition: 150ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 5px;
}

.box h3 {
    margin: 0;
    text-align: center;
}

.box label {
    font-family: 'Dosis', serif;
    font-weight: 500;
    margin-bottom: 2px;
}

.box input {
    font-family: 'Karla', sans-serif;
    width: 330px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #0000003d;
}

.box div {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.box button {
    border: 0;
    background-color: #B8944F;
    color: #FFF;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    font-family: 'Dosis', serif;
    font-weight: 500;
    border-radius: 5px;
    transition: ease 150ms;
}

.box button:hover{
    background-color: #000;
}

.active-connection {
    transform: translateY(0%) !important;
}