@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Gabriela&family=Karla:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gabriela';
}


/* Header, NavBar */

header {
    max-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #B8944F;
}

header img {
    margin-left: 5px;
    width: 110px;
    height: 110px;
}

nav{
    height: 100%;
}

nav button {
    cursor: pointer;
    font-family: 'Gabriela', serif;
    color: #B8944F;
    font-size: 15px;
    border: none;
    background: none;
    padding: 5px 0px;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #B8944F;
    transition: 200ms ease;
    margin: auto 20px;
}

nav button:hover{
    background: #B8944F;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1 {
    font-family: 'Gabriela', serif;
    color: #B8944F;
    font-size: 18px;
    margin: 0;
}

/* Footer (bottom page) */

footer{
    margin-top: 200px;
    background-color: #B8944F;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer span {
    color: #fff;
}

footer div {
    margin: 20px auto;
}